/* font-family: 'Inter',
sans-serif;

font-family: 'Rubik',
sans-serif; */
:root {
  --color-text-white: #ffffff;
  --background-color-header: #ffffff;
  --background-color-header-middle: #f6f7fc;
  --background-color-card: #e4e5ec;
  --background-color: #ececf6;
  --color-acent: #2f7ef3;

  --color-title: #24262e;
  --color-text: #686e80;
  --color-text-second: #24262e;
  --color-button: #1db954;
  --color-button-header: #3b3f4f;

  --color-card: #2d2f45;
  --color-icon: #686e80;
  --color-star: #ffd058;
  --color-black:#000000;
}
body {
  background-color: var(--background-color);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
  transition: 500ms color cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
  color: var(--color-acent);
}
.container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 360px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
    width: 1440px;
  }
}
.header-container {
  padding-left: 0;
  padding-right: 0;
}
.header-top {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  background-color: var(--background-color-header);
  box-shadow: 0px 4px 16px 0px rgba(11, 30, 23, 0.08);
}
.header-top_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__middle {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  background-color: var(--background-color-header-middle);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1);
}

.header__middle-btn--text {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  color: var(--color-text-white);
  background-color: var(--color-button-header);
  border-radius: 8px;
}
.header__middle-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: var(--color-text-second);
}
.text-background {
  background-color: var(--color-text-second);
  background-image: linear-gradient(
    90deg,
    var(--color-text-second),
    var(--background-color-card)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__middle-arrow {
  display: flex;
}
.header__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #b0abab;
  background: linear-gradient(180deg, #ececf6 0%, #ffffff 80%);
  background: -webkit-linear-gradient(270deg, #ececf6 0%, #ffffff 80%);
  background: -moz-linear-gradient(270deg, #ececf6 0%, #ffffff 80%);
  background-color: #fff;
}
.header__bottom-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-button-header);
}
@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
  .header__desktop-nav {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
  }
  .header__desktop {
    background-color: var(--background-color-header);
  }
  .header__desktop-list {
    margin-left: 72px;
    margin-right: 214px;
    display: flex;
    gap: 40px;
  }
  .header__desktop-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    color: var(--color-text-second);
  }
  .current {
    color: var(--color-acent);
  }
  .header__desktop-icon {
    margin-right: 8px;
  }
  .header__middle-btn--text{
    margin-right: 0;
  }
  .header__desktop-middle{
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__desktop-middle-nav{
    display: flex;
justify-content: space-between;
align-items: center;

  }
  .header__desktop-section{
   background-color: #fafafa; 
box-shadow: -2px -4px 9px 0px rgba(157, 157, 157, 0.11);
  -webkit-box-shadow: -2px -4px 9px 0px rgba(157, 157, 157, 0.11);
  -moz-box-shadow: -2px -4px 9px 0px rgba(157, 157, 157, 0.11);
  }
  .header__desktop-middle--firstlink{
   
    font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.33;
     color: var(--color-icon);
  }
  .link-center{
    display: flex;
    align-items: center;
  }
  .header__desktop-bottom--section{
    background-color: var(--background-color);
  }
  .header__desktop-bottom{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__desktop-bottom--text{
    font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: var(--color-black);
  }
}
.hero {
  margin-bottom: 10px;
}
.hero__card {
  margin-top: 16px;
  padding: 20px;
  background-color: var(--color-card);
  border-radius: 16px;
}
.hero__title {
  margin-bottom: 16px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.41;
  color: var(--color-text-white);
}

.hero__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-text-white);
}
.comment__container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--background-color-header);
  border-radius: 16px;
}
@media screen and (min-width: 1440px) {
  .hero {
    display: none;
  }
  .hero__desktop-container {
    margin-bottom: 24px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 485px;
    padding-left: 56px;
    background-image: linear-gradient(
        to right,
        rgba(27, 28, 50, 0.87),
        rgba(27, 28, 50, 0.87)
      ),
      url(./images/background.jpg);
    border-radius: 16px;
  }
  .hero__desktop-title {
    margin-bottom: 16px;
    font-size: 47.78px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.34;
    color: var(--color-text-white);
  }
  .hero__desktop-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    color: var(--color-text-white);
  }
}
.comment__author-about {
  padding: 12px;
  display: flex;
  gap: 8px;
  background-color: var(--background-color-header-middle);
  border-radius: 16px;
}
@media screen and (min-width: 1440px) {
  .comment__author-alltext {
    display: flex;
    gap: 900px;
  }
}
.comment__author-descr {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--background-color-card);
}
@media screen and (min-width: 1440px) {
  .comment__author-descr {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.comment__author-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  color: var(--color-text-second);
}
.comment__author-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.comment__data {
  display: flex;
  padding-top: 12px;
  gap: 12px;
}
@media screen and (min-width: 1440px) {
  .comment__data {
    flex-direction: row-reverse;
    gap: 24px;
    align-items: center;
    padding-top: 0;
  }
}
.comment__data-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  display: flex;
  gap: 2px;
}
@media screen and (min-width: 1440px) {
  .comment__data-text {
    gap: 4px;
  }
}
.comment-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  color: var(--color-text-second);
}

.comment-descr {
  margin-bottom: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.comment-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}

.footer__container {
  margin-top: 16px;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  background-color: var(--background-color-header);
  overflow: hidden;
}
.footer__container-card{
display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container-text--descr{
  margin-top: 8px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
 .footer__container{
display: flex;
flex-direction: row;
 }
 .footer__container-card{
  flex-direction: row;
 }
 .footer__container-right{
  width: 850px;
 }
 .footer__container-text--descr {
margin-bottom: 24px;
 }
}
.footer__card {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  background-color: var(--background-color-header-middle);
}

.footer__title {
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
.footer__phone{
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__phone-item{
  width: 111px;
}
.footer__phone-item>picture>img{
  width: 111px;
 
}
@media screen and (min-width: 1440px) {
.footer__phone-item {
    width: 130px;
  }
  .footer__phone-item>picture>img {
      width: 100%;
    }
}
.apps__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.apps__item {
  display: flex;
  gap: 4px;
}
.payments__list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.card-terms {
  display: flex;
  gap: 16px;
}
.card-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.less {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-acent);
}
@media screen and (min-width: 1440px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .apps {
    width: 228px;
  }
  .payments {
    width: 248px;
  }
  .deposit {
    width: 158.5px;
  }
  .footer__title {
    text-align: left;
    margin-left: 12px;
  }
  .card-text {
    justify-content: start;
    margin-left: 12px;
  }
  .less {
    display: none;
  }
}
@media screen and (max-width: 1439px) {
  .header__desktop {
    display: none;
  }
  .hero__desktop {
    display: none;
  }
  .footer__phone{
    padding-bottom: 16px;
    border-bottom: 1px solid var(--background-color-card);
    margin-bottom: 16px;
  }
}
